
   <nav class="navbar navbar-dark bg-dark" id="mynav">
   
     <div id="myid">
       
          <a href="home"><b>Home</b></a>
          <a href="Save Article"><b>Saved Article</b></a>
            <a href="Save Article"><b>Scrape New Article</b></a>
         
       
          
        </div>
    </nav> 


 <div id="mainid">
  <h1>Mongo Scraper</h1>
  <p>Echojs Edition</p>
</div>
{{!-- {{#each items}}
<p>{{title}}</p>
{{/each}} --}}
 <div id="articles"></div>


