
   <nav class="navbar navbar-dark bg-dark" id="mynav">
   
    
      
     <div id="myid">
       
          <a href="home"><b>Home</b></a>
          <a href="Saved Article"><b>Saved Article</b></a>
          
         
       
          
        </div>
    </nav>

<div id="mainid">
  <h1>Echojs Scraper</h1>
  
</div>
<nav class="navbar navbar-light bg-light">
<div class="text-center">
  
  </nav> 

 